<script type="text/template" id="contacts-template">
    <h1>Contacts</h1>

    <div class="marginAuto width-375px">
        <div class="pull-right">
            <i><%=contacts.length%> contacts enregistrés</i>
        </div>

        <table id="contacts-list" class="table table-striped table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th class="width-20px"></th>
                </tr>
            </thead>
            <tbody>
                <% $.each(contacts, function(i, el) { %>
                    <tr contact-id="<%=el.id%>">
                        <td><a href="#" class="view-contact"><%=el.name%></a></td>
                        <td><a href="#" class="pull-center edit-contact"><i class="icon-edit"></i></a></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</script>
