<script type="text/template" id="delete-contact-popup-template">

    <div class="pull-center paddingB25">
        <h3>Suppression</h3>

        <div class="row">
            <p>Sélectionnez dans la liste suivante le contact vers qui transférer les numéros </br>
               de téléphone attachés à ce contact.</p>
            <select id="target-contact">
                <% for(var i in contacts) {
                    if(contacts[i].id === current_id) {
                        continue;
                    }
                %>
                    <option value="<%=contacts[i].id%>"><%=contacts[i].name%></option>
                <% } %>
            </select>
        </div>

        <button id="ok-btn" class="btn btn-danger btn-small">Supprimer</button>
        <button id="cancel-btn" class="btn btn-info btn-small">Annuler</button>
    </div>

</script>
