<script type="text/template" id="home-template">
    <h1>Accueil</h1>

    <div class="row">
        <div class="span4">
            <h3>Statistiques</h3>

            <ul>
                <li class="marginB25"><a id="unknown-contacts" href="#">Contacts inconnus: <b>XXX</b></a></li>
                <li>Nombre de contacts: <b>XXX</b></li>
                <li>Nombre de messages: <b>XXX</b></li>
            </ul>
        </div>

        <div class="span8 pull-center">
            <h3>Graphique d'activité</h3>

            <div id="messages-abstract-chart" class="span8">
                &nbsp;
            </div>
        </div>
    </div>
</script>
