<script type="text/template" id="messages-template">
    <h1>Messages</h1>

    <%
        var total_count = 0,
            body = "";
        for(var i in gridData) {
            current = gridData[i];
            body += "<tr>";
            body += '<td>';
            body += '<a class="display-messages" contact-id="' + current['id'] + '" href="#">';
            body += current['name'] + "</a></td>";
            body += "<td>" + current['count'] + "</td>";
            body += "<td>" + current['lastReception'] + "</td>";
            body += "</tr>";

            total_count += current['count'];
        }
    %>

    <div class="marginAuto width-60pc">
        <div class="pull-right">
            <i><b><%=total_count%></b> messages sont enregistrés.</i>
        </div>

        <table id="message-list" class="table table-striped table-bordered table-condensed table-hover marginT5">
            <thead>
                <tr>
                    <th>Contact</th>
                    <th>Echanges</th>
                    <th>Dernier échange</th>
                </tr>
            </thead>
            <tbody>
                <%=body%>
            </tbody>
        </table>
            
    </div>
</script>
