.footer {
        margin: auto auto;
	margin-top: 15px;

        border-top: 1px solid #d0d0d0;
        text-align: right;
        text-decoration: italic;
        width: 70%;
}

.fixed-footer {
	position: fixed;
	bottom: 0;
	width: 100%;

        background: white;

        border-top: 3px solid #999;
}

table {
	margin: auto auto;
	margin-top: 25px;
}

#main-container {
	margin-top: 50px;
}

#main-container h1 {
	color: #999;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

	margin-bottom: 25px;
}

.subcontainer {
	width: 70%;

	margin: auto auto;
}

.pull-center {
	text-align: center;

	margin: auto auto;
	padding: auto auto;
}

.bordered {
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-border-radius: 4px;
}

.box {
	display: inline-block;
	
	padding: 10px;
  	width: 25%; 
	height: 100px;
	
	vertical-align: top;
}

.box:hover {
	background:	#ddd;
}

.box h4 {
	text-align: center;
	color: #999;
	
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-style: italic;
	letter-spacing: -1px;
	
	padding-bottom: 5px;
}

.box p {
	text-align: justify;
	
	color: #000000;
	
	padding-bottom: 0px;
}

#calendar-table .date:hover {
	background:	#ddd;
}
