.inline {
	display: inline;
}

.marginR50 {
	margin-right: 50px;
}

.marginT25 {
	margin-top: 25px;
}

.paddingL50 {
	padding-left: 50px;
}

.paddingT25 {
	padding-top: 25px;
}

.paddingB25 {
	padding-bottom: 25px;
}

.horizontal-separator {
	border-top: 1px solid #d0d0d0;	
}


.full-width {
	width: 100%;
}

.valign-center {
	vertical-align: middle;
}
