.inline {
	display: inline;
}

.marginAuto {
    margin: auto;
}

.marginL0 {
	margin-left: 0px !important;
}

.marginL50 {
	margin-left: 50px;
}

.marginR50 {
	margin-right: 50px;
}

.marginT5 {
	margin-top: 5px !important;
}

.marginT25 {
	margin-top: 25px;
}

.marginT50 {
	margin-top: 50px;
}

.marginB25 {
    margin-bottom: 25px;
}

.marginB50 {
    margin-bottom: 50px;
}

.paddingL50 {
	padding-left: 50px;
}

.paddingT25 {
	padding-top: 25px;
}

.paddingB25 {
	padding-bottom: 25px;
}

.horizontal-separator {
	border-top: 1px solid #d0d0d0;	
}


.full-width {
	width: 100%;
}

.width-20px {
    width: 20px;
}

.width-375px {
    width: 375px;
}

.width-60pc {
    width: 60%;
}

.valign-center {
	vertical-align: middle;
}

.align-right {
    text-align: right;
}

em {
	background: yellow;
}

.emphasis {
    text-align: right;
    color: darkgrey;
    font-size: xx-small !important;
    font-style: italic;
}

.justify {
    text-align: justify;
}
