	<script type="text/template" id="home-template">
		<h1>Accueil</h1>

                <div class="row">
                        <div class="span4">
				<h3>Statistiques</h3>

				<ul>
                    <li>Nombres de torrents enregistrés : <b><%=stats.registeredTorrents%></b></li>
					<li>Nombres de torrents inactifs : <b><%=stats.inactiveTorrents%></b></li>
					<li>Total téléchargé 24h : <b><%=stats.downloadedAmount.toFixed(2)%> <%=stats.downloadedUnit%></b></li>
					<li>Total uploadé 24h : <b><%=stats.uploadedAmount.toFixed(2)%> <%=stats.uploadedUnit%></b></li>
				</ul>
				<ul>
					<li>Espace disque disponible : <b><%=stats.spaceLeftOnDeviceAmount.toFixed(2)%> <%=stats.spaceLeftOnDeviceUnit%></b></li>
				</ul>
                        </div>
                        <div class="span8 pull-center">
                                <h3>Graphiques</h3>

				<div id="torrents-abstract-chart" class="span8">
					&nbsp;
				</div>

                        </div>
                </div>
	</script>

