	<script type="text/template" id="torrents-template">
		<h1>Torrents</h1>

		<div class="alert">
			<h3>Filtres</h3>

			<div class="span4">
				Statut 
				<select id="status" class="span2">
					<option value="ALL">Tous</option>
					<option value="ACTIVE" selected>Actif</option>
					<option value="DELETED">Supprimé</option>
				</select>
			</div>

			<div>
				Activité 
				<select id="timeValue" class="span1" disabled="disabled">
					<option value="1" selected>1</option>
					<option value="2">2</option>
					<option value="3">3</option>
				</select>
				<select id="timeUnit" class="span2" disabled="disabled">
					<option value="WEEK">Semaine</option>
					<option value="MONTH" selected>Mois</option>
				</select>

				<div class="pull-right">
					<button id="torrent-filter" class="btn btn-info small-btn">Filtrer</button>
				</div>
			</div>

		</div>

		<p class="pull-right"><i><%=torrents.length%> résultats.</i></p>

		<table id="torrents-list" class="table table-striped table-bordered table-condensed table-hover">
			<thead>
                                <tr>
                                        <th></th>
                                        <th>Nom</th>
					<th>Statut</th>
                                        <th>Date de détection</th>
					<th>Notation</th>
                                        <th>Téléchargé</th>
                                        <th>Uploadé</th>
                                        <th>Ratio</th>
										<th>Activité</th>
                                        <th></th>
                                </tr>
                        </thead>
                        <tbody>

		<%
		$.each(torrents, function(id, element) {

		%>
				<tr>
					<td><%=element.id%></td>
					<td><%=element.name.substring(0,35)%><%=element.name.length > 35 ? '...' : '' %>
					</td>
					<td>
						<% if(element.status === "ACTIVE") { %>
							<i class="icon-ok"></i>
						<% } else { %>
							<i class="icon-remove"></i>
						<% } %>
					</td>
					<td>
						<%
						var formattedCreationDate = ""; 
						{
							var creationDate = new Date(element.creationDate);
							var creDay  = creationDate.getDate();
							var creMonth = creationDate.getMonth() + 1;
							var creYear  = creationDate.getFullYear();
							
							creDay   = creDay   < 10 ? '0' + creDay   : creDay;
							creMonth = creMonth < 10 ? '0' + creMonth : creMonth;
							
							formattedCreationDate = creDay + '/' + creMonth + '/' + creYear;
						} %>
						
						<%=formattedCreationDate%>
					</td>
					<td class="grade" torrent-id="<%=element.id%>">
					</td>
					<td><%=element.downloadedAmount.toFixed(2)%> <%=element.downloadedUnit%></td>
					<td><%=element.uploadedAmount != null ? element.uploadedAmount.toFixed(2): '-' %> <%=element.uploadedUnit%></td>
					<td><%=element.ratio.toFixed(2)%></td>
					<td>
						<%=element.deltaAmount != null ? 
							element.deltaAmount.toFixed(2) + ' ' + element.deltaUnit + ' (' + element.activityRate.toFixed(2) + '%)'
							: ' - ' %>
					</td>
					<td><a class="torrent-remove" torrent-id="<%=element.id%>"><i class="icon-remove"></i></a></td>
				</tr>	
		<%
		});
		%>

			</tbody>
		</table>

	</script>

