	<script type="text/template" id="home-template">
		<h1>Accueil</h1>

                <div class="row">
                        <div class="span4">
							<h3>Statistiques</h3>
							
							<p>Aucune donnée disponible.</p>				
                		</div>
                        <div class="span8 pull-center">
                                <h3>Graphiques</h3>

								<div id="torrents-abstract-chart" class="span8">
									<p>Aucune donnée disponible.</p>
								</div>

                        </div>
                </div>
	</script>

