<div class="tab-pane fade active in" id="accounts-active">


  <div class="pull-right">
     <button id="accounts-add" class="btn btn-success btn-small">
        <i class="icon-plus"></i>
     </button>
  </div>

  <table id="accounts-list" class="table table-striped table-bordered table-condensed table-hover">
     <thead>
       <tr>
         <th>Libellé</th>
         <th>Type</th>
         <th>Solde</th>
         <th>Dernière modification</th>
         <th></th>
       </tr>
     </thead>
     <tbody>
       <% 
         for(var i = 0; i < accounts.length; i++) {
           if(!accounts[i].active) {
              continue;
           }
       %>
         <tr>
           <td>
              <a id="accounts-view" account="<%= accounts[i].id %>" href="">
                 <%= accounts[i].nom %>
              </a>
           </td>
           <td>
              <%= accounts[i].type %>
           </td>
              <%
                 var amount = parseFloat(accounts[i].solde).toFixed(2);
                 var clazz = amount < 0 ? "alert-error" : "alert-success";
              %>
           <td class="<%=clazz%>">
              <%=amount%> €
           </td>
           <td>
              <%= new Date(accounts[i].lastUpdate).toLocaleString() %>
           </td>
           <td>
              <div class="pull-center">
                 <a id="accounts-edit" account="<%= accounts[i].id %>" href="">
                    <i class="icon-edit"></i>
                 </a>
                 <a id="accounts-del" account="<%= accounts[i].id %>" href="">
                    <i class="icon-remove"></i>
                 </a>
              </div> 
           </td>
         </tr>
      <% } %>	
    </tbody>
  </table>

</div>
