<script type="text/template" id="import-input-template">
		<h1>Importer des données (2/3)</h1>

		<div class="pull-center">

				<p>Coller les données à importer ci-dessous, indiquer le délimiteur puis cliquer sur le bouton <em>examiner</em>:</p>
				<textarea id="import-raw-data" class="span6" rows="7"></textarea>

				<br/>
										
				<div class="control-group error">
					Délimiteur : 
					<input id="import-delimiter" type="text" class="span1">
				</div>
				

				<br/><br/>

				<button id="import-analyse" class="btn btn-info"><i class="icon-search"></i> Examiner</button>
		</div>
</script>