<script type="text/template" id="params-template">
		<h1>Paramètrage</h1>

		<div class="pull-center">
				<a id="params-optypes" href="#params/optypes" data-toggle="tooltip" data-placement="top" 
						title="Configuration des types d'opération et des icônes associés.">
					Types d'opération
				</a>

				<br/>

				<a id="params-accountypes" href="#params/accounttypes" data-toggle="tooltip" data-placement="top"
						title="Configuration des types de compte possibles.">
					Types de compte
				</a>

				<br/>

				<a id="params-heuristics" href="#params/heuristics" data-toggle="tooltip" data-placement="top" 
						title="Paramètrage des heuristiques mises en place.">
					Heuristiques
				</a>

				<!--
				<br/>

				<a id="params-import" href="#params/import" data-toggle="tooltip" data-placement="top" 
						title="Importation de données dans l'entrepôt.">
					Importer des données
				</a>
				-->
		</div>
</script>